header {
  height: 20vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .container {
    display: flex;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    width: 85%;
    height: 75%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    @media (min-width: 865px) {
      height: 80%;
      max-width: 50rem;
      border: 5px solid hsl(217, 16%, 45%);
    }
    .img-container {
      width: 30%;
      height: 80%;
      background-image: url(./images/logo.svg);
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
    }
    .img-bonus {
      background-image: url(./images/logo-bonus.svg);
    }
    .score-container {
      width: 5rem;
      height: 70%;
      background-color: #ffffff;
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (min-width: 865px) {
        height: 80%;
        max-width: 7rem;
      }
      @media (min-width: 1400px) {
        height: 75%;
        width: 20rem;
      }
      p {
        text-transform: uppercase;
        font-size: 70%;
        font-weight: 600;
        color: hsl(229, 64%, 46%);
        @media (min-width: 865px) {
          font-size: 100%;
        }
      }
      h3 {
        font-size: 200%;
        color: hsl(229, 25%, 31%);
        @media (min-width: 865px) {
          font-size: 270%;
        }
        @media (min-width: 865px) {
          font-size: 270%;
        }
      }
    }
  }
}
